{{define "login"}}
{{template "header"}}
{{template "side"}}
<div class="col-md-9" role="main">
  <form action={{.}} id="login_form" class="ajax"  method="post" role="form">
	<fieldset>
	  <legend>用户登录</legend>
	  <div class="form-group">
		<label for="username">用户名</label>
		<input type="text" name="username" id="username">
	  </div>
	  <div class="form-group">
		<label for="booknumber">密码:&nbsp;&nbsp;&nbsp;</label>
		<input type="text" name="password" id="password">
	  </div>
	  <p>
		<input type="submit" value="登录"  id="submit"  class="btn btn-info">
		<span id="msg"></span></p>
	</fieldset>
	<a href="/signup">注册</a>
	<a href="mailto:beviszhang1993@gmail.com?Subject=忘记密码">忘记密码</a>
  </form>
</div>
<br /> <br /> <br /> <br /> <br /> <br />
<br/>        <br/>        <br/>        <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{{template "divfooter"}}
{{template "footer"}}
{{end}}
